
[Desktop Entry]
Encoding=UTF-8
Name=CF
Comment="Cold Fusion - is session based on compiz as stand alone wm"
Exec=/usr/local/bin/start-cf.sh
Type=Application
Name[C]=coldfusion
