[Desktop Entry]
Encoding=UTF-8
Name=ColdFusion
Comment="ColdFusion - is session based on compiz as stand alone wm"
TryExec=/usr/local/bin/cfstart.sh
Exec=/usr/local/bin/cfstart.sh
Type=Application
Name[C]=coldfusion
Name[en_US]=coldfusion.desktop
